@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Poppins:wght@200;300;400;500&display=swap');

body, #root, .App{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: Poppins;
}
body *{
    background-repeat: no-repeat;
    background-position: center;
}

button, input{
    border: none;
    background-color: transparent;
    font-family: Poppins;
}

ul{
    padding: 0;
    list-style: none;
}

button, li, a{
    cursor: pointer;
}

span{
    display: block;
}